.card {
  display: inline-block;
  position: relative;

  width: 200px;
  height: 40px;
  line-height: 20px;
  vertical-align: middle;

  padding: 0px;

  color: white;
  text-decoration: underline;

  border-radius: 2px;
}


.card-a {
  display: inline-block;
  margin: 10px;
}

.card {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,0.25), 0 6px 6px rgba(0,0,0,0.22);
}

/* http://paletton.com/#uid=7000I0kqXungMEHlSwDurpkxRk3 */

.card-1 {
  background-color: #f22626;
}

.card-2 {
  background-color: #f29b26;
}
.centerMedia {
  display: inline-block;
  text-align: center;
}
.centerMedia {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  max-width: 525px;
}
